<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AUV</title>
  {% load static %}
  <link rel="stylesheet" href="{% static "auv_control_pi/css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "auv_control_pi/css/style.css" %}">
</head>
<body>
<div class="container">
  <h2>AUV Control</h2>

  {% verbatim %}
  <div id="app">
    Status: <span v-bind:class="{connected: status === 'connected'}">{{ status }}</span>

    <h3>Data:</h3>
    <ul>
      <li>Left Motor Speed: {{ data.left_motor_speed }}</li>
      <li>Left Motor Duty Cycle: {{ data.left_motor_duty_cycle }}</li>
      <li>Right Motor Speed: {{ data.right_motor_speed }}</li>
      <li>Right Motor Duty Cycle: {{ data.right_motor_duty_cycle }}</li>
      <li>Lat: {{ data.lat }}</li>
      <li>Long: {{ data.lon }}</li>
    </ul>

    <h3>Motor Control</h3>

    <div class="range-slider">
      <h4>Left Motor</h4>
      <div class="row">
        <div class="col-xs-8">
          <input class="range-slider__range" type="range" min="-100" max="100" v-model="leftMotorSpeed">
          <span class="range-slider__value">{{ leftMotorSpeed }}</span>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-md btn-danger" v-on:click="leftMotorSpeed = 0">Stop</button>
        </div>
      </div>

    </div>

    <div class="range-slider">
      <h4>Right Motor</h4>
      <div class="row">
        <div class="col-xs-8">
          <input class="range-slider__range" type="range" min="-100" max="100" v-model="rightMotorSpeed">
          <span class="range-slider__value">{{ rightMotorSpeed }}</span>
        </div>
        <div class="col-xs-4">
          <button class="btn btn-md btn-danger" v-on:click="rightMotorSpeed = 0">Stop</button>
        </div>
      </div>
    </div>

    {% endverbatim %}
  </div>
</div>

</body>

<script src="{% static "auv_control_pi/js/vue.js" %}"></script>
<script src="{% static "auv_control_pi/js/app.js" %}"></script>


</html>
